* {
    margin: 0;
}
body {
    display: flex;
    min-height: 100vh;
}
header, footer {
    background-color: lightyellow;
    height: 20vh;
}
.main {
    display: flex;
    flex-grow: 1; 
}
nav {
    background-color: pink;
    width: 20vw;
}
article {
    background-color: white;
    flex-grow: 1;
}
aside {
    background-color: lightblue;
    width: 20vw;
}
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}